* {
    margin: 0;
}

img {
    width: 100%;
    height: 85%;
}

ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

li {
    list-style: none;
    text-align: center;
    width: 30%;
    margin: 15px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}